.footer {
    position: relative;
    color: #6C757D;
}

.footerLink {
    color: #6C757D;
    padding: 0 10px 0 10px;
}

.footerLink:hover {
    color: white;
}

.navBar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    text-align: right;
    margin: 1em;
}

.navLink {
    color: white;
    padding: 5px;
    text-decoration: none;
    box-sizing: border-box;
}

.navLink:hover {
    color: yellow;
}

#resume {
    border: 1px solid yellow;
    border-radius: 2px;
    color: yellow;
}

#resume:hover {
    box-shadow: 2px 2px yellow;
}